:root {
    --colorforall: #005461;
    --ccolorforall-2: #018790;
    --colorforall-3: #00b7b5;
    --colorforall-4: #f4f4f4;
    --colorforall-5: skyblue;
    --miancolor: #2a2a3c;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
body {
    height: 100vh;
    display: grid;
    /* font-size: 16px; */
    grid-template-columns: repeat(1fr, 1fr);
    grid-template-rows: 70px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 100px;
    /* font-family: sans-serif; */
    background-color: var(--colorforall-4);
    color: white;
}
header {
    display: grid;
    background-color: #005461;
    grid-template-areas: "logo nav";
    /* position: sticky;
    top: 0;
    left: 0; 
    z-index: 100; */
}
header .logo {
    color: goldenrod;
    margin: 20px;
    gap: logo;
    font-weight: bold;
    font-size: 30px;
}
header span {
    color: aquamarine;
}
header nav {
    display: grid;
    grid-area: nav;
}
header nav  ul {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    margin: 20px;
}
header nav a {
    margin: 20px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: background-color .5s .5s ease;
    position: relative;
}
header nav a::before {
    content: "";
    /* background-color: transparent; */
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 15px;
    top: 20px;
    left: 0;
    transform: translateX(-50px);
    transition: all .3s .4s ease;
}
header nav a:hover::before {
    background-color: goldenrod;
    transform: translateX(0);
}
header nav a:hover {
    color: darkgoldenrod;
}
.topic-1 {
    background-image: 
    url('./images for projects/photo-3\ for\ city.png');
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.801) inset ;
    padding: 50px;
    background-position: center;
    background-size: cover;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    text-align: center;
}
.topic-1 h1 {
    line-height: 3;
    font-size: 40px;
} 
.topic-1 .text {
    word-spacing: 1.5px;
    line-height: 2;
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
    color: black;
    position: relative;
    /* padding: ; */
}
.topic-1 input {
    border-radius: 20px;
    padding: 20px;
    background-color: black;
    border: none;
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
    cursor: pointer;
    transition: all .2s .6s ease;
    position: relative;
}
.topic-1 input:hover {
    transform: translateY(-3px);
    background-image: 
    linear-gradient(90deg, #005461, #00b7b5);
    box-shadow: 3px 3px 20px 2px var(--colorforall-3);
}
.topic-2 {
 background-color: var(--colorforall-4); 
 color: black;  
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
.topic-2 .parent-1 {
    display: flex;
    margin: 20px auto;
}
.topic-2 .box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 20px;
    background-color: var(--ccolorforall-2);
    margin: 40px;
    width: 320px;
    color: var(--colorforall-4);
    height: 320px;
    transition: all .3s .5s ease;
}
.topic-2 .box-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 60px;
    background-color: var(--ccolorforall-2);
    margin: 40px;
    width: 320px;
    height: 320px;
    color: var(--colorforall-4);
    transition: all .3s .5s ease;
}
.topic-2 .h2-1 {
    margin: 40px;
    display: flex;
    font-size: 25px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    position: relative;
}
.topic-2 .h2-1::before {
   content: "";
   position: absolute;
   background-color: green;
   top: 50px;
   left: 100;
   width: 15%;
   height: 4px;
   border-radius: 10px;
   transition: all .5s .5s ease;
}
.topic-2 .box-3 {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--ccolorforall-2);
    margin: 40px;
    width: 320px;
    color: var(--colorforall-4);
    height: 320px;
    transition: all .3s .5s ease;
}

.topic-2 .box-1 .h2-2 {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
}
.topic-2 .box-2 .text-3 {
    /* font-weight: bold; */
    /* word-spacing: 1.5px; */
    margin: 20px auto;
}
.topic-2 .box-1 .text-2 {
    margin: 20px auto;
    padding: 20px;
}
.topic-2 .box-2 .text-3 {
    margin: 20px auto;
    padding: 20px;
}
.topic-2 .box-3 .text-4 {
    margin: 20px auto;
    padding: 20px;
}
.topic-2 .box-1:hover {
    transform: translateY(-10px);
    background-image: 
    url('./images for projects/photo-1\ mountians.jpg');
    background-position: center;
    background-size: cover;
}
.topic-2 .box-2:hover {
    transform: translateY(-10px);
    background-image: 
    url('./images for projects/photo-1\ mountians.jpg');
    background-position: center;
    background-size: cover;
}
.topic-2 .box-3:hover {
    transform: translateY(-10px);
    background-image: 
    url('./images for projects/photo-1\ mountians.jpg');
    background-position: center;
    background-size: cover;
}
.topic-3 {
    background-image: 
    linear-gradient(45deg, #018790, #005461);
    height: 700px;
    color: black;
    position: relative;
}
.topic-3 .h2-5 {
    margin: 20px;
    display: flex;
    justify-content: center;
    color: var(--colorforall-4);
    align-items: center;
    position: relative;
}
.topic-3 .h2-5::before {
    content: "";
    width: 5%;
    height: 4px;
    border-radius: 10px;
    background-color: goldenrod;
    position: absolute;
    top: 50px;
    left: 100;
    transition: all .5s .5s ease;
}
.topic-4 {
    background-color: var(--colorforall-4);
    height: 500px;
    color: var(--colorforall-4);
}
.topic-4 .h2-6 {
    display: flex;
    color: black;
    margin: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
}
img {
    height: 250px;
    width: 20%;
    margin: 50px 32px;
    border-radius: 20px;
    /* object-fit: fill; */
    box-shadow: 
    2px 2px 10px 2px rgba(0, 0, 0, 1);
    transition: all .5s .5s ease;
}
img:hover {
    transform: scale(1.1);
}
video {
    width: 70%;
    height: 550px;
    position: absolute;
    display: flex;
    margin: 50px 220px;
    /* background-image: 
    url('/images for projects/for\ project\ one.mp4'); 
    width: 70%;
    border-radius: 20px;
    position: absolute;
    height: 550px;
    margin: 50px 220px; */
}
.topic-4 .h2-6::before {
    content: "";
    background-color: green;
    position: absolute;
    width: 5%;
    height: 4px;
    left: 46.7%;
    top: 50px;
    border-radius: 10px;
    transition: all .5s .5s ease;
}
.topic-5 {
    background-color: var(--colorforall);
    height: 500px;
    position: relative;
}
.topic-5 iframe {
    width: 500px;
    height: 300px;
    left: 31%;
    top: 100px;
    margin: 40px;
    position: absolute;
    border-radius: 20px;
}
.topic-5 .h2-7 {
    color: white;
    position: relative;
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
}
.topic-5 .h2-7::before {
    content: "";
    background-color: goldenrod;
    border-radius: 10px;
    position: absolute;
    width: 5%;
    height: 4px;
    top: 50px;
    left: 47.5%;
}
.topic-6 {
    background-color: white;
    /* box-shadow: 3px 3px 15px 5px black inset; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.topic-6 .h2-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 20px;
    position: relative;
    margin-bottom: 50px;
}
.topic-6 .h2-8::before {
    content: "";
    background-color: goldenrod;
    width: 50%;
    height: 4px;
    border-radius: 10px;
    position: absolute;
    top: 50px;
    left: 30%;
}
.topic-6 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(25, 25, 25, 0.82);
    box-shadow: 2px 2px 10px 2px black;
    width: 50%;
    height: 500px;
    margin-left: 30px;
    border-radius: 20px;
    position: relative;
    margin: 50px;
}
form input {
    border: none;
    margin: 10px;
    padding: 10px;
    width: 50%;
    color: #f4f4f4;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.457);
    border: none;
    caret-color: red;
}
.mas-1 {
    padding: 30px;
    height: 30px;
}
form label {
    position: relative;
    right: 150px;
}
.ema-1 {
    position: relative;
    right: 130px;
}
form .send {
    background-color: var(--ccolorforall-2);
    color: white;
    text-align: center;
    border-radius: 20px;
    width: 180px;
    position: relative;
    left: -90px;
    transition: all .4s .5s ease;    
}
.home-1,
.home-2,
.home-3 {
    margin: 30px;
    width: 40px;
    height: 40px;
    position: relative;
}
.home-1 {
    margin: 20px;
    position: relative;
    bottom: 20px;
}
.home-3 {
    position: relative;
    top: 10px;
    margin: 0;
}
form .send:hover {
    color: goldenrod;
    background-image: 
    linear-gradient(45deg, #005467 0 50%, #00b7b5);
    transform: translateY(-3px);
}
.topic-7 {
    background-image: 
    linear-gradient(45deg, #005661 50%, #018790 100%);
    padding: 30px;
}
.topic-7 .h3-1 {
    color: goldenrod;
    margin: 20px;
}
.text-5 {
    margin: 20px;
}
.h3-2 {
    color: goldenrod;
    margin: 20px;
}
.text-6 {
    margin: 20px;
}
.for-last-topic {
    margin: 20px;
}
.for-last-topic .for-last-page li{
    margin: 10px;
    list-style: none;
}
.for-last-page a {
    color: white;
    text-decoration: none;
    transition: all .3s .2s ease;
}
.for-last-page a:hover {
    color: goldenrod;
}
.h3-3 {
    margin: 20px;
    color: goldenrod;
}
.text-7 {
    margin: 10px;
}
.p-1,
.p-2,
.p-3 {
    margin: 10px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
    height: 50px;
    color: #8b8b8b;
}
::selection {
    color: #f4f4f4;
    background-color: red;
}