:root {
    --main-color1: #264653;
    --main-color2: #E9C46A;
    --main-color3: #E76F51;
    --main-color4: #000000;
    --main-color5: #333333;
    --main-color6: #AAAAAA;
    --main-color7: #DDDDDD;
    --main-color8: #F8F9FA;
    --main-color9: #FFFFFF;
    --main-color10: #2A9D8F;
    --main-color11: #2A9D8F;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
body {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1fr, 1fr);
    grid-template-rows: 70px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 100px;
    background-color: var(--colorforall-4);
    color: white;
}
header {
    display: grid;
    padding: 0 10rem;
    background-color: var(--main-color1);
    grid-template-areas: "logo nav";
}
header .logo {
    color: var(--main-color2);
    margin-top: 1rem;
    gap: logo;
    font-weight: bold;
    font-size: 2rem;
}
header span {
    color: var(--main-color10);
}
header nav {
    display: grid;
    grid-area: nav;
}
header ul {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
}
header a {
    margin: 20px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: all .5s ease;
    position: relative;
}
header a:hover {
    color: var(--main-color2);
}
.topic-1 {
    background-image: 
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1200" height="600" viewBox="0 0 1200 600"><rect width="1200" height="600" fill="%23264653"/><path d="M0,300 Q300,200 600,300 T1200,300 L1200,600 L0,600 Z" fill="%232a9d8f"/></svg>');
    padding: 3rem;
    background-position: center;
    background-size: cover;
    color: var(--main-color9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    z-index: 1;
    text-align: center;
}
.topic-1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2a2a2a78;
    z-index: -1;
}
.topic-1 h1 {
    margin-bottom: 1.5rem;
    font-size: 3rem;
} 
.topic-1 .text {
    word-spacing: 1.5px;
    line-height: 2;
    margin: 0 auto;
    max-width: 52%;
    font-size: 1.2rem;
    color: var(--main-color9);
}
.parent-circle {
    display: flex;
    gap: 3px;
    position: relative;
    bottom: 60px;
    animation: goodbye 0s 3s;
    animation-fill-mode: forwards;
}
@keyframes goodbye {
    to {
        z-index: -1;
        animation-play-state: paused;
    }
}
.circle1,
.circle2,
.circle3 {
    width: 30px;
    height: 30px;
    background-color: var(--main-color2);
    border-radius: 50%;
}
.circle1 {
    animation: forup .4s infinite alternate linear;
}
@keyframes forup {
    to {
        transform: translateY(-6px);
        opacity: .6;
    }
}
.circle2 {
    animation: fordown .4s infinite alternate linear .2s;
}
@keyframes fordown {
    to {
        transform: translateY(-6px);
        opacity: .6;
    }
}
.circle3 {
    animation: idontknow .4s infinite alternate linear .4s;
}
@keyframes idontknow {
    to {
        transform: translateY(-6px);
        opacity: .6;
    }
}
.topic-1 input {
    border-radius: 30px;
    padding: 1.2rem 2.5rem;
    background-color: var(--main-color11);
    border: none;
    font-weight: 600;
    color: var(--main-color9);
    cursor: pointer;
    margin: 20px 0;
    transition: all .3s ease;
    position: relative;
    visibility: hidden;
    animation: welcome 0s 3.5s;
    animation-fill-mode: forwards;
}
@keyframes welcome {
    to {
        visibility: visible;
    }
}
.topic-1 input:hover {
    transform: translateY(-3px);
    background-color: var(--main-color1);
}
.topic-2 {
 background-color: var(--colorforall-4); 
 color: black;  
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
.topic-2 .parent-1 {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin: 2rem auto;
}
.topic-2 .box-1 {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 2rem;
    background-color: var(--main-color8);
    max-width: 350px;
    color: var(--main-color4);
    max-height: 300px;
    transition: all .3s ease;
}
.icon {
    font-size: 2.5rem;
    margin: 10px 0;
}
.topic-2 .box-2 {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 2rem;
    background-color: var(--main-color8);
    max-width: 350px;
    max-height: 300px;
    color: var(--main-color4);
    transition: all .3s ease;
}
.topic-2 .h2-1 {
    margin: 2rem auto;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--main-color1);
    position: relative;
}
.topic-2 .h2-1::before {
   content: "";
   position: absolute;
   background-color: var(--main-color10);
   top: 45px;
   left: 50%;
   transform: translateX(-50px);
   width: 30%;
   height: 4px;
   border-radius: 10px;
}
.topic-2 .box-3 {
    display: flex;
    gap: 20px;
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
    background-color: var(--main-color8);
    max-width: 350px;
    color: var(--main-color4);
    max-height: 300px;
    padding: 2rem;
    transition: all .3s ease;
}

.box-1 .h3 {
    color: var(--main-color1);
}
 .text1 {
    max-width: 90%;
    text-align: center;
    color: var(--main-color5);
}
.box-1:hover {
    transform: translateY(-10px);
}
.box-2:hover {
    transform: translateY(-10px);
}
.box-3:hover {
    transform: translateY(-10px);
}
.topic-3 {
    background-color: var(--main-color1);
    height: 800px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.forvideo {
    width: 80%;
    height: 80%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 50px;
}
.forvideo video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.topic-3 .h2-5 {
    margin: 3rem;
    position: relative;
}
.topic-3 .h2-5::before {
    content: "";
    width: 30%;
    height: 4px;
    border-radius: 10px;
    background-color: var(--main-color11);
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50px);
}
.topic-4 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    background-color: var(--main-color9);
    height: 500px;
    color: var(--main-color4);
    margin-top: 50px;
}
.topic-4 .h2-6 {
    margin: 20px 0;
    position: relative;
}
.topic-4 .h2-6::before {
    content: "";
    background-color: green;
    position: absolute;
    width: 30%;
    height: 4px;
    left: 50%;
    top: 40px;
    border-radius: 10px;
    transform: translateX(-50%);
}
.parentforimages {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 10px;
    margin-top: 20px;
}
.parentforimages .complex {
    width: calc(25% - 10px);
    height: 250px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.complex img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    transition: transform .4s ease;
}
.complex img:hover {
    transform: scale(1.1);
}
.topic-5 {
    background-color: var(--main-color8);
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.topic-5 iframe {
    width: 80%;
    height: 400px;
    border-radius: 20px;
}
.topic-5 .h2-7 {
    color: var(--main-color1);
    position: relative;
    margin-top: 30px;
}
.topic-5 .h2-7::before {
    content: "";
    background-color: var(--main-color11);
    border-radius: 10px;
    position: absolute;
    width: 30%;
    height: 4px;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}
.topic-6 {
    background-color: var(--main-color9);
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}
.topic-6 .h2-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: var(--main-color1);
    position: relative;
}
.topic-6 .h2-8::before {
    content: "";
    background-color: var(--main-color11);
    width: 50%;
    height: 4px;
    border-radius: 10px;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}
.topic-6 form {
    width: 50%;
    height: 600px;
    background-color: var(--main-color7);
    color: var(--main-color4);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 50px;
    padding: 3rem 2rem;
}
form div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
form input {
    padding: 1rem;
    border-radius: 5px;
    border: none;
}
input:focus {
    border: 1px solid var(--main-color11);
    outline: none;
}
textarea {
    padding: 2rem;
    border-radius: 5px;
    border: none;
    position: relative;
}
textarea::placeholder {
    position: absolute;
    top: 10px;
    left: 10px;
}
textarea:focus {
    outline: none;
    border: 1px solid var(--main-color11);
}
form .send {
    background-color: var(--main-color11);
    color: white;
    border-radius: 30px;
    padding: 1rem;   
    width: 30%;
    transition: all .6s ease;
}
form .send:hover {
    background-color: var(--main-color1);
    transform: translateY(-5px);
}
.topic-7 {
    background-color: var(--main-color1);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 4rem 10rem;
}
.topic-7 div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: calc(30% - 10px);
    margin: 0 auto;
    color: var(--main-color9);
}
.topic-7 .h3-0 {
    color: var(--main-color2);
}
.topic7 div .text2 {
    color: var(--main-color9);
}
.for-last-page li {
    margin-bottom: 15px;
    list-style: none;
}
.for-last-page a {
    color: var(--main-color7);
    text-decoration: none;
    transition: all .3s ease;
}
.for-last-page a:hover {
    color: var(--main-color2);
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: var(--main-color1);
    color: var(--main-color6);
    position: relative;
    font-size: .8rem;
}
footer::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    width: 90%;
    height: .8px;
    background-color: #aaaaaa5c;
    transform: translateX(-50%);
}
::selection {
    color: var(--main-color2);
    background-color: var(--main-color10);
}